/** Stylus Styles */
@import '../../node_modules/vuetify/src/stylus/settings/_colors'

$theme := {
  primary: $indigo.base
  accent: $red.accent-2
  secondary: $cyan.darken-3
  info: $blue.base
  warning: $amber.base
  error: $red.base
  success: $purple.base
}
