<template>
  <v-card>
    <v-card-text>
      <v-container>
        <form @submit.prevent="onLogin">
          <v-layout row>
            <v-flex xs12>
              <v-text-field
                name="username"
                label="Username"
                id="username"
                v-model="username"
                required>
              </v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12>
              <v-text-field
                name="password"
                label="Password"
                id="password"
                v-model="password"
                type="password"
                required>
              </v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12>
              <v-btn type="submit" class="primary">
                Login
              </v-btn>
            </v-flex>
          </v-layout>
        </form>
      </v-container>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    data () {
      return {
        username: '',
        password: ''
      }
    },
    methods: {
      onLogin () {
        this.$store.dispatch('login', {username: this.username, password: this.password})
      }
    },
    computed: {
      user () {
        return this.$store.getters.user
      }
    },
    watch: {
      user (value) {
        if (value) {
          this.$router.push('/')
        }
      }
    }
  }
</script>
