<template>
  <v-card>
    <v-card-title>
      <div>
        Your location: <b>{{ address }}</b>
      </div>
    </v-card-title>
    <v-card-media src="/static/map.png" height="200px"></v-card-media>
    <v-card-title>
      <v-flex xs12>
        <p>Account balance:</p>
        <h3 class="headline text-xs-center">{{ balance }} €</h3>
        <p>Parking fee:</p>
        <h3 class="headline text-xs-center">{{ fee }} € / hour</h3>
      </v-flex>
    </v-card-title>
    <v-card-text>
      <form @submit.prevent="onStartParking">
        <v-btn type="submit" class="primary" block large>
          Start parking
        </v-btn>
      </form>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    data () {
      return {
        address: 'Tammsaare tee 42, Tallinn',
        balance: 12,
        fee: 2
      }
    },
    methods: {
      onStartParking () {
        console.log('Start parking')
      }
    }
  }
</script>
