<template>
  <v-app>
    <v-toolbar dark class="primary">
      <v-toolbar-title>ParkingSpot</v-toolbar-title>
    </v-toolbar>
    <v-container>
      <v-layout>
        <v-flex xs12 sm6 offset-sm3>
          <router-view></router-view>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>
